button{
    border: 2px solid black;
    color:black;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    /* display: inline-block; */
    /* width:100px; */
    /* width:10%; */
    text-align: center;
    background-color: white;
    border-radius: 7px;
    margin: 10px;
}
button:hover{background-color: #333; color: white}
.success{border-color: #4caf50; color: green;}
.success:hover{background-color: #4caf50; color: white}
.info{border-color:#2196f3; color:dodgerblue}
.info:hover{background-color:#2196f3;color: white}
.warning{border-color: #ff9800;color:orange;}
.warning:hover{background-color: #ff9800; color:white;}
.danger{border-color: #f44336; color:red}
.danger:hover{background-color: #f44336;color:white;}
.default{border-color: #e7e7e7; color:black;}
.default:hover{background-color: #e7e7e7;  }

h1{
    padding: 20px;
    background-color: teal; color: white;
    /* box-shadow: 5px 5px 25px grey;  */
}

h3{
    padding: 10px;
    background-color: tomato; color: white;
}

ul{
    list-style-type: none;
}
li{
    padding: 5px 10px; margin: 5px; background-color: firebrick; color: white;
}
span{padding: 5px 20px; border: 2px solid #ccc; 
    /* width: 30%; */
display: inline-block;}

h2{background-color: steelblue; color: aliceblue; line-height: 1.5; padding: 12px 18px; border-radius: 8px;}
p {
  background-color: rgb(42, 96, 196);
  color: white;
  padding: 10px;
}
p.border{
  width: 80%; padding: 5px 10px; border: 1px dashed #333; opacity: 0.8; margin: 3px auto;
}
p.greenborder{
    border:1px solid green; padding: 5px; margin: 3px;
}

input{
    padding: 10px;
    margin: 5px;
    /* width: 20%; */
    /* height: 20px; */
    border: 1px solid red;
    text-align: center;
    font-size: 20;
}

select, option{
    padding: 5px 10px;
    background-color: bisque;
    color: blue;
    text-align: center;
    font-size: 20px;
}



* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  pre {
    /* height: auto; */
    /* max-height: 200px;
    overflow: auto; */
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    font-size: 16px; 
    /* line-height: 1.5; */
    color: black;
}
div{padding: 10px;}
div.tomato {
  width: 300px;
  height: 100px;
  color: white;
  background-color: tomato;
  font-size: 80px;
  font-family: fantasy;
  text-align: center;
  margin-top: 30px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover{
  color: blue;
  text-decoration: underline;
}

table{width: 100%; border-collapse: collapse; overflow: hidden;}
th, td{
    position: relative; padding: 10px;
    text-align: left; border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: lightblue;
}
